:root {
  --backgroundColor: #242424;
  --primaryColor: #64EEBC;
  --white: #fff;
  --speed: 0.3s;
  --barHeight: 4px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 4px;
  font-style: normal;
}

.App {
  background: var(--backgroundColor);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@media(max-width: 414px) {
  .App {
    height: unset;
    min-height: 100vh;
  }
}