.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding: 21px 60px;
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all var(--speed) ease-in;
}

.btn img {
  margin-right: 10px;
}
