.dropdown-container {
  width: 90%;
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: background var(--speed) ease-in;
}

.dropdown-btn:hover {
  background: rgba(36,36,36,0.5);
  border-radius: 5px;
}

.dropdown-btn img {
  width: 11px;
  height: 5px;
}

.dropdown-text {
  color: var(--white);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-right: 10px;
}


.menu-visible {
  position: absolute;
  background: var(--backgroundColor);
  z-index: 1;
  right: 0px;
  top: 49px;
  width: 100%;
  opacity: 0;
  transition: opacity var(--speed) ease-in-out;
}

.menu-visible::before {
  position: absolute;
  content: "";
  top: -6px;
  right: 11px;
  background: var(--backgroundColor);
  transform: rotate(45deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

/*PARA AGREGAR LA TRANSICIÓN QUTARLE ALTURA Y ANCHO */

.visible {
  padding: 12px;
  opacity: 1;
}

.menu-visible.visible::before {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.menu {
  opacity: 0;
  transition: opacity var(--speed) ease-in-out;
}

.showOptions {
  opacity: 1;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: var(--white);
  cursor: pointer;
  transition: background var(--speed) ease-in-out;
  border-radius: 5px;
}

.menu-item:last-child {
  margin-bottom: 0px;
}

.menu-item:hover {
  background-color: #3b3b3b;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}