.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 16vh;
  transition: all var(--speed) ease-in;
  z-index: 1;
  position: absolute;
}

.navbar::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 22.78%, #000000 122.69%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.navbar:hover::before {
  opacity: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.mobile-cta {
  display: none;
}

.round-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--speed) ease-in;
}

.round-btn:hover {
  border: 1px solid var(--primaryColor);
}

.mobile {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  letter-spacing: 0;
  font-size: 41px;
  transition: color var(--speed) ease-in;
}

.mobile:hover {
  color: var(--primaryColor);
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.left-nav {
  width: 80%;
  display: flex;
  align-items: center;
}

.link {
  color: #ffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 64px;
  text-decoration: none;
  transition: color var(--speed) ease-in;
}

.link:hover {
  color: var(--primaryColor);
}

.link.logo {
  color: var(--primaryColor);
  font-size: 34px;
  line-height: 34px;
  font-style: normal;
  font-weight: 700;
  transition: transform var(--speed) ease-in;
}

.logo:hover {
  transform: scale(2);
}

/* RIGHT NAV */
.right-nav {
  justify-content: space-between;
  width: 20%;
}

.burger-menu {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stripes {
  width: 100%;
  height: 1px;
  background: #ffff;
  margin-bottom: 6px;
}

.stripes:last-child {
  margin-bottom: 0;
  width: 60%;
}

.notifications {
  position: relative;
}

.dot {
  position: absolute;
  right: 2px;
}

.profile {
  width: 42px;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile img:hover {
  filter:grayscale(0) brightness(1);
}

@media(max-width: 414px) {

  .navbar {
    height: 13vh;
  }
  .left-nav {
    justify-content: center;
  }

  .burger-menu, .stripes, .notifications, .desktop  {
    display: none;
  }
  .mobile-cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link.logo {
    margin: 0 auto;
    font-size: 28px;
    line-height: 28px;
  }

  /* RIGHT NAV */
  .right-nav {
    width: unset;
  }

  .profile {
    height: 42px;
  }
  .profile img {
    width: 100%;
    height: 100%;
  }
}