.main-container {
  height: 100vh;
}

.main-container-columns {
  display: flex;
  justify-content: space-between;
  height: 84vh;
}

/* MAIN CONTENT */

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-subtitle {
  color: #ffff;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
}

.hero-subtitle span {
  font-weight: 700;
}

.hero-title {
  color: aqua;
  font-size: 120px;
  line-height: 120px;
  font-weight: 700;
  margin-bottom: 32px;
}

.hero-btns {
  display: flex;
  margin-bottom: 34px;
}

/* .btn {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding: 21px 60px;
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 4px;
} */

.play {
  background: var(--backgroundColor);
  margin-right: 24px;
}

.play:hover {
  background: #615f5f;
}

.list {
  background: rgba(36,36,36,0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.list:hover {
  background: rgba(36,36,36,1);
  border:1px solid rgba(36,36,36,1);
}


/* LIST CONTAINER */
.side-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}