.add-movie-container {
  background: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-container-title {
  color: #64EEBC;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
  transition: color var(--speed) ease-in;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* DRAG AND DROP CUSTOMS */
.zone-initial-text {
  display: flex;
}

.zone-initial-text img {
  margin-right: 10px;
}

.desktop-text {
  font-family: 'Source Sans 3', sans-serif;
}

.mobile-text {
  display: none;
}

.form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-title {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 8px;
  margin-bottom: 40px;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  transition: opacity var(--speed) ease-in;
  opacity: 1;
}

.hide-input {
  opacity: 0;
}

.input-title::placeholder {
  color: var(--white);
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
}

.input-title:focus::placeholder {
  color: transparent;
}

.upload {
  background: #E5E5E5;
  color:#242424;
  font-weight: bold;
  cursor: pointer;
  transition: all var(--speed) ease-in;
}

.upload:hover {
  background: #585858;
  color: #E5E5E5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* THANK YOU PAGE */
.ty-title {
  color: var(--primaryColor);
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
}

.ty-subtitle {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;

}
.ty-description {
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 90px;
  text-align: center;

}

.ty-redirect-container {
  display: flex;
  justify-content: center;
}

.ty-redirect {
  background: var(--white);
  padding: 20px 80px;
  color: var(--backgroundColor);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  transition: all 0.3s ease-in;
}

.ty-redirect:hover {
  background: #585858;
  color: #E5E5E5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media(max-width: 414px) {

  section.container > div {
    padding: 28px 30px!important;
  }
  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: inline-block;
  }
}