.movie-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  height: 21%;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all var(--speed) ease-in;
  transition-duration: 1s;
  transform: translateX(140%);
  opacity: 0;
  box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
}

.movie-container:nth-child(2) {
  transition-delay: 0.1s;
}

.movie-container:nth-child(3) {
  transition-delay: 0.2s;
}

.movie-container:last-child {
  margin-bottom: 0px;
  transition-delay: 0.3s;
}

.showMovie {
  transform: translateX(0%);
  opacity: 1;
}

.thumb-title {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.movie-container .ellipse {
  position: absolute;
  top: 30%;
  left: 40%;
}

.movie-container .thumb-play {
  position: absolute;
  top: 41%;
  left: 47%;
}